<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
  
	<p>
  Splurty is a simple tool that displays random quotes about entrepreneurship. The great thing is that anyone can contribute. So, go ahead! Click on the <b>Contribute</b> button and type something related to the subject of entrepreneuship. Try and keep it light, interesting and funny.
  </p>
  <br />
  <p>
  Splurty was built by <a target="_blank" href="https://github.com/genidma">Adeel</a>. An aspiring entrepreneur, who shares the collective vision of seeing a more open and connected world. However, Adeel is not Superman and he wouldn't be able to do everything himself. And that's why he is working with the good folks at FireHoseProject, in order to strengthen his coding skills. If you want to learn how to code, then check out their website  <a target="_blank" href="http://www.thefirehoseproject.com/"> click here</a>
  </p>

</div>
  
  <div class="col-xs-12 col-sm-4">
   <%= image_tag 'adeel.jpg', :class => 'img-responsive' %>
 </div>

 <div class="col-xs-12 col-sm-7 col-sm-4 offset-1">
  <h2 class="text-center">Adeel Khan</h2>
  <br />
  <p>
  Adeel has worked for organizations big and small. Right now he's working on a <a target="_blank" href="http://triboapp.com/">startup</a> of his own and learning how to code at the same time. If he's not working on his startup, then you will most likely find Adeel at the gym or at the local library. 
  </p>  		
  </div>

<br class="clear" />
<br />
<br />
<br />
<br />