<div class="col-xs-10 col-xs-offset-1">
	<h1>About Splurty</h1>
	<p>
    Splurty was built by <a target="_blank" href="https://github.com/genidma">Adeel</a>. An entrepreneur who is on a mission to see a more connected world.
  </p>
  <br />
  <p>
  	Adeel has worked for startups, Fortune 100 companies and now he is focused on building tools that will help connect individuals and groups in new and interesting ways.
  </p>
  <p>
   But, Adeel is not Superman and he wouldn't be able to do everything himself. He is getting assistance from two awesome individuals at FireHoseProject. FireHoseProject's stated mission is "to help people get the technical skills they need for turning their ideas into reality". If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
</div>